@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="text-center">
    <h3>@ViewData["Title"]</h3>
</div>
<partial name="_StatusMessage" model="Model.StatusMessage" />