@model List<ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<div class="card-deck">
    @foreach (var author in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <a asp-controller="Authors" asp-action="AuthorFanfics" asp-route-author="@author.UserName">
                    @author.UserName
                </a>
            </div>
        </div>
        <br />
    }
</div>

