 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Welcome to home of fanfics!</h3>
</div>
<br />
<br />

<h5>The biggest database of fandoms -<a href="Fandoms"> Fandoms</a></h5>
    

<h5>The best database of fanfics -<a href="Fanfics"> Fanfics</a></h5>